* {
  padding: 0;
  margin: 0; }

.container {
  width: 800px;
  margin: 0 auto;
  height: inherit; }

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem; }
  .header-title {
    display: flex;
    justify-content: center;
    align-items: center; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .nav .test {
    background-color: rgba(0, 0, 255, 0.356);
    width: 100%;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: 10px;
    font-size: 20px; }
