/** Media Queries **/
@mixin phone {
  @media only screen and (min-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin button($color) {
  background-color: $color;
  padding: 0.5rem 1rem;
  display: block;
  text-align: center;
  color: $white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  &:hover {
    cursor: pointer;
    background-color: darken($color, 10);
  }
}

@mixin box-sizing($box-model) {
  box-sizing: $box-model;
}
@mixin gradient($color1, $color2) {
  background: linear-gradient(to right, $color1 0%, $color2 100%);
}
