// Fonts
$mainFont: "Raleway", sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #005b9f;
$secondary: #003f8c;
$tertiary: #009045;
$alternative: #ce6b00;
$gray: #eeeeee;
$darkGray: #373737;
$white: #ffffff;
